*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Palette
$violet: #5B49F5;
$light-violet-1: #DEDBFD;
$light-violet-2: #E8E5FF;
$light-gray: #E5E5E5;
$dark-gray: #949494;
$night: #212B36;
$dark-night: #161c24;
$red: #F54949;

$scrollbar-width: 10px;

$back-ease: cubic-bezier(.69,.04,.16,1.1);

@mixin no-selection() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

@mixin hidden-scrollbar-y {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin hidden-scrollbar-x {
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin gray-scrollbar() {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    
    &::-webkit-scrollbar-track {
        padding: 5px;
        background: rgba(243, 243, 243, 0.9);
    }

    &::-webkit-scrollbar-thumb {
        background: #999999; 
    }
}

@mixin violet-scrollbar() {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    
    &::-webkit-scrollbar-track {
        padding: 5px;
        background: $violet;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 2px 2px 5px 0 rgba($violet, 0.5);    
        background: $light-gray; 
        border-radius: 3px;
    }
}

@mixin text-ellipsis($show-full: false) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @if $show-full == true {
        transition: 200ms ease all;

        &:hover {
            background: white;
            padding: 10px;
            box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.15);
            border-radius: 10px;
            white-space: initial;
            overflow: visible;
        }
    }
}

@mixin multiline-ellipsis($lines: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex-centered($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@mixin scale-onhover($transition-duration: 400ms, $scale-ratio: 0.9) {
    transition: $transition-duration ease;

    &:hover {
        transform: scale($scale-ratio);
    }
}

@mixin bg-onclick($transition-duration: 300ms, $bg-color: rgba($night, 0.3)) {
    transition: $transition-duration ease;

    &:active {
        background: $bg-color;
    }
}

@mixin scale-onclick($transition-duration: 400ms, $scale-ratio: 1.1) {
    transition: $transition-duration ease;

    &:active {
        transform: scale($scale-ratio);
    }
}

@mixin full-height() {
    height: 100vh;
    min-height: 750px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes levitation {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 500% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes fly-away {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateX(700px) rotate(540deg);
        opacity: 0;
        border-radius: 50%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(white, 0.9);
    background: $violet;
    font-size: 23px;
    text-shadow: 2px 2px 2px rgba($night, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include violet-scrollbar();
    overflow-x: hidden;
}

h1 {
    font-size: 1.8em;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

.gray {
    color: $dark-gray;
}

.dotted {
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
        display: inline-block;
        margin-right: 0.5em;
        content: "";
        height: 0.5em;
        width: 0.5em;
        border-radius: 50%;
        background: $red;
    }
}

.accent-block {
    position: absolute;
    background: $violet;
    width: calc(100vw - #{$scrollbar-width});
    height: 400px;
    overflow: hidden;
    z-index: -1;

    &.bottom-rounded {
        border-radius: 0 0 10px 10px;
    }

    &.top-rounded {
        border-radius: 10px 10px 0 0;
    }

    .shape-wrapper {
        z-index: initial;
        position: absolute;
    }
}

.footer {
    width: 100%;
    padding: 30px;
    margin-top: 100px;

    .social-links {
        @include flex-centered(row);

        .social-link {
            height: 35px;
            margin-right: 75px;
            cursor: pointer;
            @include scale-onhover();

            &:nth-last-child(1) {
                margin-right: 0;
            }

            .icon {
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.header {
    --header-height: 45px;
    height: var(--header-height);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    @include flex-centered();

    .rst-logo__wrapper {
        height: 100%;

        &:hover .rst-logo {
            transform: translateY(-100%);
        }

        .rst-logo {
            height: 100%;
            transition: 300ms ease;
            box-shadow: 0 3px 10px rgba($night, 0.2);
        }
    }
}

.navbar {
    padding: 30px;
    @include flex-centered();

    .navbar-buttons {
        display: grid;
        grid-auto-flow: column;
        column-gap: 30px;

        .navbar-button {
            cursor: pointer;
            @include scale-onhover(300ms, 0.9);

            img, svg {
                height: 35px;
                width: 35px;
            }
        }
    }
}

button, .button {
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    height: 70px;

    @include scale-onhover();
    @include bg-onclick();

    .icon {
        width: 100%;
        height: 100%;
        fill: rgba(white, 0.9);
    }
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 100px;

    .project-card {
        .container {
            height: 410px;
            width: 590px;

            cursor: pointer;
            @include scale-onhover(400ms, 0.95);
            @include scale-onclick(400ms, 0.98);

            .card-header {
                margin-bottom: 15px;
                @include flex-centered(row);

                .name__wrapper {
                    width: 100%;
                    @include flex-centered();

                    .name {
                        font-weight: 700;
                    }
                }

                .type-tag {
                    font-size: 1.1em;
                }
            }

            .card-title-picture__wrapper {
                position: relative;
                width: 100%;
                height: 332px;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(black, 0.3);

                .title-picture {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    z-index: 1;
                }

                .platform-label {
                    position: absolute;
                    z-index: 2;
                    top: 30px;
                    right: -50px;
                    transform: rotate(45deg);
                    width: 210px;
                    height: 50px;
                    background: rgba($night, 0.6);
                    backdrop-filter: blur(5px);
                    box-shadow: 0 0 10px rgba($night, 0.5);
                    
                    .text {
                        font-weight: 600;
                        font-size: 0.9em;
                        max-width: 65%;
                        @include text-ellipsis();
                    }

                    @include flex-centered();
                }
            }
        }

        .card-tech-tags {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
}

#root {
    display: flex;
    justify-content: center;
}

#content-wrapper {
    --content-width: 1450px;
    width: var(--content-width);

    #glass {
        background: rgba($night, 0.5);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 30px rgba($night, 0.4);
        overflow: hidden;
        min-height: 100vh;
    }

    #home-page {
        & > section {
            .content > .title {
                text-align: center;
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }

        .main-section {
            @include flex-space-between(column);
            @include full-height();
    
            .info {
                padding-top: 25vh;
                @include flex-centered(column);
    
                .title {
                    margin-bottom: 30px;
                }
    
                .text {
                    text-align: center;
                    margin-bottom: 50px;
                }

                .face-icon {
                    height: 200px;
                    height: 200px;

                    @include scale-onhover();
                }
            }
        }
    
        .greeting-section {
            margin: 100px 0;
            @include flex-centered();
            @include full-height();
    
            .content {
                margin: 200px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 70px;
    
                .info {
                    width: 550px;
                    text-align: center;
                    @include flex-centered(column);
    
                    .dot {
                        margin: 20px 0;
                    }
    
                    .text {
                        display: grid;
                        grid-template-columns: 1fr;
                        row-gap: 10px;
                    }
                }
    
                .illustration {
                    position: relative;
    
                    .person {
                        width: 450px;
                    }
    
                    .gear {
                        animation: rotation 10s linear infinite;
                        position: absolute;
                        width: 75px;
                        right: 200px;
                        top: -60px;
                    }
    
                    .terminal {
                        position: absolute;
                        width: 110px;
                        animation: levitation 5s linear infinite;
                    }
                }
            }
        }
    
        .skills-section {
            position: relative;
    
            .content {
                @include flex-centered(column);
    
                .skill-blocks {
                    display: grid;
                    grid-template-columns: 1fr;
                    row-gap: 80px;
    
                    .skill-block {
                        width: 960px;
                        --content-width: 360px;
    
                        .skill-block__header {
                            margin-bottom: 50px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
    
                            .caption {
                                font-size: 1.1em;
                                width: var(--content-width);
                                margin-right: 80px;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;
    
                                .caption-icon {
                                    height: 55px;
                                    width: 55px;
                                    margin-right: 30px;
                                    fill: $violet;
                                }
    
                                .caption-text {
                                    font-weight: 700;
                                }
                            }
                        }
    
                        .skill-block__body {
                            display: flex;
                            flex-direction: row;
    
                            & > .skill-category:nth-child(1) {
                                margin-right: 80px;
                            }
    
                            .skill-category {
                                width: var(--content-width);
    
                                .title {
                                    color: $violet;
                                    font-weight: 500;
                                }
    
                                .skill-items {
                                    font-size: 0.9em;
                                    margin-top: 35px;
                                    display: grid;
                                    grid-template-columns: 1fr;
                                    row-gap: 20px;
    
                                    .skill-item {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: flex-start;
                                        align-items: center;
    
                                        .skill-item__icon {
                                            min-width: 35px;
                                            min-height: 35px;
                                            height: 35px;
                                            width: 35px;
                                            margin-right: 20px;
                                            object-fit: contain;
                                            //image-rendering: -webkit-optimize-contrast;
                                        }

                                        .skill-item__name-progress {
                                            height: 100%;
                                            width: 100%;
                                            position: relative;
                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: center;

                                            .name {
                                                max-width: var(--content-width);
                                                @include text-ellipsis();
                                            }

                                            .progress {
                                                height: 100%;
                                            }

                                            .name, .progress {
                                                position: absolute;
                                                transform-origin: left;
                                                animation: scale-in 400ms $back-ease;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .conclusion-section {
            padding: 100px 230px;

            .container-links {
                display: grid;
                row-gap: 70px;
                column-gap: 70px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "wrk abt"
                "git git";

                .link {
                    &.my-works-link {
                        grid-area: wrk;
                    }
    
                    &.about-me-link {
                        grid-area: abt;
                    }
    
                    &.github-link {
                        grid-area: git;
                    }
                }

                .container {
                    padding: 50px 70px;
                    cursor: pointer;
                    text-align: center;

                    @include scale-onhover(300ms, 0.95);

                    .icon {
                        height: 60px;
                        width: 60px;
                    }

                    .text {
                        white-space: nowrap;
                    }
    
                    &.vertical {
                        display: block;

                        .main-block {
                            .icon {
                                margin-bottom: 30px;
                            }

                            margin-bottom: 20px;
                        }
                    }
    
                    &.horizontal {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        .main-block {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .icon {
                                margin-right: 70px;
                            }
                        }

                        .text-block {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }

    #my-works-page {
        .caption-section {
            @include flex-space-between(column);
            @include full-height();

            .content {
                padding-top: 30vh;
                @include flex-centered(column);
                
                .icon {
                    width: 70px;
                    height: 70px;
                    margin-bottom: 30px;
                }
    
                .title {
                    margin-bottom: 30px;
                }
            }

            .scroll-button__wrapper {
                margin-bottom: 10px;
                width: 100%;
                @include flex-centered();
            }
        }

        .projects-section {
            padding: 100px;
        }
    }
}