*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes levitation {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes levitation {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 500% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 500% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes fly-away {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateX(700px) rotate(540deg);
            transform: translateX(700px) rotate(540deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes fly-away {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateX(700px) rotate(540deg);
            transform: translateX(700px) rotate(540deg);
    opacity: 0;
    border-radius: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background: white;
  font-size: 23px;
  text-shadow: 2px 2px 5px rgba(33, 43, 54, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --content-width: 1200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  padding: 5px;
  background: #5B49F5;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(91, 73, 245, 0.5);
          box-shadow: inset 2px 2px 5px 0 rgba(91, 73, 245, 0.5);
  background: #E5E5E5;
  border-radius: 3px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.gray {
  color: #949494;
}

.dotted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dotted::before {
  display: inline-block;
  margin-right: 0.5em;
  content: "";
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background: #F54949;
}

.accent-block {
  position: absolute;
  background: #5B49F5;
  width: calc(100vw - 10px);
  height: 400px;
  overflow: hidden;
  z-index: -1;
}

.accent-block.bottom-rounded {
  border-radius: 0 0 10px 10px;
}

.accent-block.top-rounded {
  border-radius: 10px 10px 0 0;
}

.accent-block .shape-wrapper {
  z-index: initial;
  position: absolute;
}

.full-height {
  height: 100vh;
  min-height: 900px;
}

#root {
  --main-accent-block-width: 200px;
}

#content-wrapper {
  padding: 0 var(--main-accent-block-width);
}

#content-wrapper #home-page {
  background: rgba(33, 43, 54, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 0 30px rgba(33, 43, 54, 0.4);
          box-shadow: 0 0 30px rgba(33, 43, 54, 0.4);
}

#content-wrapper #home-page > section .content > .title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#content-wrapper #home-page .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content-wrapper #home-page .main-section .header {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .main-section .header .rst-logo__wrapper {
  height: 100%;
}

#content-wrapper #home-page .main-section .header .rst-logo__wrapper:hover .rst-logo {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#content-wrapper #home-page .main-section .header .rst-logo__wrapper .rst-logo {
  height: 100%;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-box-shadow: 0 10px 20px rgba(33, 43, 54, 0.1);
          box-shadow: 0 10px 20px rgba(33, 43, 54, 0.1);
}

#content-wrapper #home-page .main-section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .main-section .info .title {
  margin-bottom: 30px;
}

#content-wrapper #home-page .main-section .info .text {
  text-align: center;
  margin-bottom: 50px;
}

#content-wrapper #home-page .main-section .info .face-icon {
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  height: 230px;
  height: 230px;
}

#content-wrapper #home-page .main-section .info .face-icon:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#content-wrapper #home-page .main-section .navbar {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .main-section .navbar .navbar-buttons {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

#content-wrapper #home-page .main-section .navbar .navbar-buttons .navbar-button {
  cursor: pointer;
}

#content-wrapper #home-page .main-section .navbar .navbar-buttons .navbar-button:hover svg, #content-wrapper #home-page .main-section .navbar .navbar-buttons .navbar-button:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#content-wrapper #home-page .main-section .navbar .navbar-buttons .navbar-button img, #content-wrapper #home-page .main-section .navbar .navbar-buttons .navbar-button svg {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  height: 40px;
  width: 40px;
  opacity: 0.8;
}

#content-wrapper #home-page .greeting-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .greeting-section .content {
  margin: 200px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

#content-wrapper #home-page .greeting-section .content .info {
  width: 550px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .greeting-section .content .info .dot {
  margin: 20px 0;
}

#content-wrapper #home-page .greeting-section .content .info .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
}

#content-wrapper #home-page .greeting-section .content .illustration {
  position: relative;
}

#content-wrapper #home-page .greeting-section .content .illustration .person {
  width: 450px;
}

#content-wrapper #home-page .greeting-section .content .illustration .gear {
  -webkit-animation: rotation 10s linear infinite;
          animation: rotation 10s linear infinite;
  position: absolute;
  width: 75px;
  right: 200px;
  top: -60px;
}

#content-wrapper #home-page .greeting-section .content .illustration .terminal {
  position: absolute;
  width: 110px;
  -webkit-animation: levitation 5s linear infinite;
          animation: levitation 5s linear infinite;
}

#content-wrapper #home-page .skills-section {
  position: relative;
}

#content-wrapper #home-page .skills-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .skills-section .content .skill-blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 60px;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block {
  width: 960px;
  --content-width: 360px;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__header .caption {
  font-size: 1.1em;
  width: var(--content-width);
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__header .caption .caption-icon {
  height: 55px;
  width: 55px;
  margin-right: 30px;
  fill: #5B49F5;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__header .caption .caption-text {
  font-weight: 700;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body > .skill-category:nth-child(1) {
  margin-right: 80px;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category {
  width: var(--content-width);
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .title {
  color: #5B49F5;
  font-weight: 500;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .skill-items {
  font-size: 0.9em;
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 20px;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__icon {
  min-width: 35px;
  min-height: 35px;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress .name {
  max-width: var(--content-width);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress .progress {
  height: 100%;
}

#content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress .name, #content-wrapper #home-page .skills-section .content .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress .progress {
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: scale-in 400ms cubic-bezier(0.69, 0.04, 0.16, 1.1);
          animation: scale-in 400ms cubic-bezier(0.69, 0.04, 0.16, 1.1);
}

#content-wrapper #home-page .conclusion-section {
  padding: 100px 250px;
}

#content-wrapper #home-page .conclusion-section .container-links {
  display: -ms-grid;
  display: grid;
  row-gap: 70px;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "wrk abt" "git git";
}

#content-wrapper #home-page .conclusion-section .container-links .container {
  padding: 50px 70px;
  cursor: pointer;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  text-align: center;
}

#content-wrapper #home-page .conclusion-section .container-links .container:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#content-wrapper #home-page .conclusion-section .container-links .container .icon {
  height: 60px;
  width: 60px;
}

#content-wrapper #home-page .conclusion-section .container-links .container.my-works-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wrk;
}

#content-wrapper #home-page .conclusion-section .container-links .container.about-me-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: abt;
}

#content-wrapper #home-page .conclusion-section .container-links .container.github-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: git;
}

#content-wrapper #home-page .conclusion-section .container-links .container.vertical {
  display: block;
}

#content-wrapper #home-page .conclusion-section .container-links .container.vertical .icon {
  margin-bottom: 30px;
}

#content-wrapper #home-page .conclusion-section .container-links .container.vertical .title {
  margin-bottom: 20px;
}

#content-wrapper #home-page .conclusion-section .container-links .container.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #home-page .conclusion-section .container-links .container.horizontal .icon {
  margin-right: 70px;
}

#content-wrapper #home-page .conclusion-section .container-links .container.horizontal .title {
  margin-right: 230px;
}

#content-wrapper #home-page .conclusion-section .container-links .container.horizontal .text {
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */