*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes levitation {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes levitation {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 500% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 500% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes fly-away {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateX(700px) rotate(540deg);
            transform: translateX(700px) rotate(540deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes fly-away {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateX(700px) rotate(540deg);
            transform: translateX(700px) rotate(540deg);
    opacity: 0;
    border-radius: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background: #5B49F5;
  font-size: 23px;
  text-shadow: 2px 2px 2px rgba(33, 43, 54, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  padding: 5px;
  background: #5B49F5;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(91, 73, 245, 0.5);
          box-shadow: inset 2px 2px 5px 0 rgba(91, 73, 245, 0.5);
  background: #E5E5E5;
  border-radius: 3px;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.gray {
  color: #949494;
}

.dotted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dotted::before {
  display: inline-block;
  margin-right: 0.5em;
  content: "";
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background: #F54949;
}

.footer {
  width: 100%;
  padding: 40px;
  margin-bottom: 35px;
  border-radius: 20px;
  background: rgba(33, 43, 54, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 0 0 30px rgba(33, 43, 54, 0.4);
          box-shadow: 0 0 30px rgba(33, 43, 54, 0.4);
  overflow: hidden;
}

.footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social-links .social-link {
  height: 35px;
  margin-right: 75px;
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.footer .social-links .social-link:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer .social-links .social-link:nth-last-child(1) {
  margin-right: 0;
}

.footer .social-links .social-link .icon {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  --header-height: 45px;
  height: var(--header-height);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .rst-logo__wrapper {
  height: 100%;
}

.header .rst-logo__wrapper:hover .rst-logo {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header .rst-logo__wrapper .rst-logo {
  height: 100%;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-box-shadow: 0 3px 10px rgba(33, 43, 54, 0.2);
          box-shadow: 0 3px 10px rgba(33, 43, 54, 0.2);
}

.navbar {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-buttons {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.navbar .navbar-buttons .navbar-button {
  cursor: pointer;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.navbar .navbar-buttons .navbar-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.navbar .navbar-buttons .navbar-button img, .navbar .navbar-buttons .navbar-button svg {
  height: 35px;
  width: 35px;
}

button, .button {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 70px;
  height: 70px;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

button:hover, .button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

button:active, .button:active {
  background: rgba(33, 43, 54, 0.3);
}

button .icon, .button .icon {
  width: 100%;
  height: 100%;
  fill: rgba(255, 255, 255, 0.9);
}

button.fill, .button.fill {
  background: rgba(33, 43, 54, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(33, 43, 54, 0.4);
          box-shadow: 0 0 10px rgba(33, 43, 54, 0.4);
}

button.circle, .button.circle {
  border-radius: 50%;
}

button.transparent:active, .button.transparent:active {
  background: transparent;
}

button.bg-blur, .button.bg-blur {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.scroll-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-buttons .scroll-button {
  display: block;
  height: 45px;
  width: 45px;
  margin-bottom: 20px;
}

.scroll-buttons .scroll-button.active .scroll-index {
  opacity: 1;
}

.scroll-buttons .scroll-button .scroll-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  transition: 300ms ease;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  background: rgba(33, 43, 54, 0.6);
  border-radius: 10px;
  cursor: pointer;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0 0 5px rgba(33, 43, 54, 0.2);
          box-shadow: inset 0 0 5px rgba(33, 43, 54, 0.2);
}

.scroll-buttons .scroll-button .scroll-index:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.scroll-buttons .scroll-button .scroll-index:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.work-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 100px;
}

.work-cards .work-card .container {
  height: 410px;
  width: 590px;
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  transition: 400ms ease;
}

.work-cards .work-card .container:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.work-cards .work-card .container:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.work-cards .work-card .container .card-header {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-cards .work-card .container .card-header .name__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-cards .work-card .container .card-header .name__wrapper .name {
  font-weight: 700;
}

.work-cards .work-card .container .card-header .type-tag {
  font-size: 1.1em;
}

.work-cards .work-card .container .card-title-picture__wrapper {
  position: relative;
  width: 100%;
  height: 332px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.work-cards .work-card .container .card-title-picture__wrapper .title-picture {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 1;
}

.work-cards .work-card .container .card-title-picture__wrapper .platform-label {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: -50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 210px;
  height: 50px;
  background: rgba(33, 43, 54, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 0 10px rgba(33, 43, 54, 0.5);
          box-shadow: 0 0 10px rgba(33, 43, 54, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-cards .work-card .container .card-title-picture__wrapper .platform-label .text {
  font-weight: 600;
  font-size: 0.9em;
  max-width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.work-cards .work-card .card-tech-tags {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.timeline {
  position: relative;
  --image-height: 275px;
  --line-width: 8px;
  --rhomb-size: 60px;
}

.timeline .timeline-items {
  padding: 100px;
  margin-left: 200px;
}

.timeline .timeline-items .timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.timeline .timeline-items .timeline-item:nth-last-child(1) {
  margin-bottom: 0;
}

.timeline .timeline-items .timeline-item:hover .info .year-block .dot {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.timeline .timeline-items .timeline-item .image__wrapper {
  height: var(--image-height);
  width: 400px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
}

.timeline .timeline-items .timeline-item .image__wrapper .image {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.timeline .timeline-items .timeline-item .info {
  margin-left: 50px;
}

.timeline .timeline-items .timeline-item .info .year-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 30px;
}

.timeline .timeline-items .timeline-item .info .year-block .dot {
  margin: 0 30px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.timeline .timeline-items .timeline-item .info .text-block .paragraph {
  margin: 20px 0;
}

.timeline .main-line {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: var(--line-width);
  left: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(7%, #FFFFFF), color-stop(93%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 7%, #FFFFFF 93%, rgba(255, 255, 255, 0) 100%);
  padding: 100px 0;
}

.timeline .main-line .row {
  position: relative;
  height: var(--image-height);
  width: var(--rhomb-size);
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline .main-line .row:nth-last-child(1) {
  margin-bottom: 0;
}

.timeline .main-line .row .rhomb {
  height: var(--rhomb-size);
  width: var(--rhomb-size);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin-left: calc(var(--line-width) - var(--rhomb-size));
}

.timeline .main-line .row .sub-line {
  position: absolute;
  left: calc(var(--rhomb-size) / 2);
  height: var(--line-width);
  width: 120px;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-switch .page {
  --page-width: 1450px;
  width: var(--page-width);
  position: relative;
}

.page-switch .page .section {
  width: 100%;
  padding: 35px 0;
}

.page-switch .page .section.caption {
  height: 100vh;
  min-height: 800px;
}

.page-switch .page .section.caption .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page .section.caption .content-block .caption-body {
  padding-top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page .section.caption .content-block .caption-body .icon {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}

.page-switch .page .section.caption .content-block .caption-body .title {
  margin-bottom: 30px;
}

.page-switch .page .section.caption .content-block .caption-footer {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page .section.caption .content-block .caption-footer .scroll-button {
  -webkit-animation: levitation 3s ease infinite;
          animation: levitation 3s ease infinite;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page .section.caption .content-block .caption-footer .scroll-button .icon {
  height: 100%;
  width: 100%;
}

.page-switch .page .section .content-block {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(33, 43, 54, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 0 0 30px rgba(33, 43, 54, 0.4);
          box-shadow: 0 0 30px rgba(33, 43, 54, 0.4);
  overflow: hidden;
}

.page-switch .page .section .content-block > .title {
  text-align: center;
  padding-bottom: 80px;
}

.page-switch .page .section .content-block:nth-last-child(1) {
  margin-bottom: 0;
}

.page-switch .page .back-to-page-button__wrapper {
  position: fixed;
  top: 0;
  left: 20px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page .scroll-buttons {
  position: fixed;
  top: 0;
  right: 50px;
  height: 100vh;
}

.page-switch .page.home .caption .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.page-switch .page.home .caption .content-block .caption-body {
  padding-top: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .caption .content-block .caption-body .title {
  margin-bottom: 30px;
}

.page-switch .page.home .caption .content-block .caption-body .text {
  text-align: center;
  margin-bottom: 50px;
}

.page-switch .page.home .caption .content-block .caption-body .face-icon {
  height: 200px;
  height: 200px;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.page-switch .page.home .caption .content-block .caption-body .face-icon:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.page-switch .page.home .greeting {
  height: 100vh;
  min-height: 800px;
}

.page-switch .page.home .greeting .content-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .greeting .content-block .info {
  width: 550px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .greeting .content-block .info .dot {
  margin: 20px 0;
}

.page-switch .page.home .greeting .content-block .info .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
}

.page-switch .page.home .greeting .content-block .illustration {
  position: relative;
  margin-right: 100px;
}

.page-switch .page.home .greeting .content-block .illustration .person {
  width: 450px;
}

.page-switch .page.home .greeting .content-block .illustration .gear {
  -webkit-animation: rotation 10s linear infinite;
          animation: rotation 10s linear infinite;
  position: absolute;
  width: 75px;
  right: 200px;
  top: -60px;
}

.page-switch .page.home .greeting .content-block .illustration .terminal {
  position: absolute;
  width: 110px;
  -webkit-animation: levitation 5s linear infinite;
          animation: levitation 5s linear infinite;
}

.page-switch .page.home .skills .content-block {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .skills .content-block .skill-blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 80px;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block {
  width: 1000px;
  --part-width: 380px;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__header .skill-caption {
  font-size: 1.1em;
  width: var(--part-width);
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__header .skill-caption .skill-caption-icon {
  height: 55px;
  width: 55px;
  margin-right: 30px;
  fill: #5B49F5;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__header .skill-caption .skill-caption-text {
  font-weight: 700;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body > .skill-category:nth-child(1) {
  margin-right: 80px;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category {
  width: var(--part-width);
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .title {
  color: #5B49F5;
  font-weight: 500;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .skill-items {
  font-size: 0.9em;
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 20px;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__icon {
  min-width: 35px;
  min-height: 35px;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress .name {
  max-width: var(--part-width);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress .progress {
  height: 100%;
}

.page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress .name, .page-switch .page.home .skills .content-block .skill-blocks .skill-block .skill-block__body .skill-category .skill-items .skill-item .skill-item__name-progress .progress {
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: scale-in 400ms cubic-bezier(0.69, 0.04, 0.16, 1.1);
          animation: scale-in 400ms cubic-bezier(0.69, 0.04, 0.16, 1.1);
}

.page-switch .page.home .conclusion .content-block {
  padding: 120px 230px;
}

.page-switch .page.home .conclusion .content-block .container-links {
  display: -ms-grid;
  display: grid;
  row-gap: 70px;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "wrk abt" "git git";
}

.page-switch .page.home .conclusion .content-block .container-links .link.my-works-link {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wrk;
}

.page-switch .page.home .conclusion .content-block .container-links .link.about-me-link {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: abt;
}

.page-switch .page.home .conclusion .content-block .container-links .link.github-link {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: git;
}

.page-switch .page.home .conclusion .content-block .container-links .container {
  padding: 50px 70px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.page-switch .page.home .conclusion .content-block .container-links .container:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.page-switch .page.home .conclusion .content-block .container-links .container .icon {
  height: 60px;
  width: 60px;
}

.page-switch .page.home .conclusion .content-block .container-links .container .text {
  white-space: nowrap;
}

.page-switch .page.home .conclusion .content-block .container-links .container.vertical {
  display: block;
}

.page-switch .page.home .conclusion .content-block .container-links .container.vertical .main-block {
  margin-bottom: 20px;
}

.page-switch .page.home .conclusion .content-block .container-links .container.vertical .main-block .icon {
  margin-bottom: 30px;
}

.page-switch .page.home .conclusion .content-block .container-links .container.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-switch .page.home .conclusion .content-block .container-links .container.horizontal .main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switch .page.home .conclusion .content-block .container-links .container.horizontal .main-block .icon {
  margin-right: 70px;
}

.page-switch .page.home .conclusion .content-block .container-links .container.horizontal .text-block {
  margin-right: 30px;
}

.page-switch .page.works .works-grid .content-block {
  padding: 100px;
}
/*# sourceMappingURL=style.css.map */