*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Palette
$violet: #5B49F5;
$light-violet-1: #DEDBFD;
$light-violet-2: #E8E5FF;
$light-gray: #E5E5E5;
$dark-gray: #949494;
$night: #212B36;
$dark-night: #161c24;
$red: #F54949;

$scrollbar-width: 10px;

$back-ease: cubic-bezier(.69,.04,.16,1.1);

@mixin no-selection() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

@mixin hidden-scrollbar-y {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin hidden-scrollbar-x {
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin gray-scrollbar() {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    
    &::-webkit-scrollbar-track {
        padding: 5px;
        background: rgba(243, 243, 243, 0.9);
    }

    &::-webkit-scrollbar-thumb {
        background: #999999; 
    }
}

@mixin white-scrollbar() {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    
    &::-webkit-scrollbar-track {
        padding: 5px;
        background: $violet;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 2px 2px 5px 0 rgba($violet, 0.5);    
        background: $light-gray; 
        border-radius: 3px;
    }
}

@mixin text-ellipsis($show-full: false) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @if $show-full == true {
        transition: 200ms ease all;

        &:hover {
            background: white;
            padding: 10px;
            box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.15);
            border-radius: 10px;
            white-space: initial;
            overflow: visible;
        }
    }
}

@mixin multiline-ellipsis($lines: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex-centered($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@mixin scale-onhover($transition-duration: 400ms, $scale-ratio: 0.9) {
    transition: $transition-duration ease;

    &:hover {
        transform: scale($scale-ratio);
    }
}

@mixin bg-onclick($transition-duration: 300ms, $bg-color: rgba($night, 0.3)) {
    transition: $transition-duration ease;

    &:active {
        background: $bg-color;
    }
}

@mixin scale-onclick($transition-duration: 400ms, $scale-ratio: 1.1) {
    transition: $transition-duration ease;

    &:active {
        transform: scale($scale-ratio);
    }
}

@mixin full-height($min-height: 800px) {
    height: 100vh;
    min-height: $min-height;
}

@mixin glass-style($border-radius: 0) {
    border-radius: $border-radius;
    background: rgba($night, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba($night, 0.4);
    overflow: hidden;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes levitation {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 500% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes fly-away {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateX(700px) rotate(540deg);
        opacity: 0;
        border-radius: 50%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(white, 0.9);
    background: $violet;
    font-size: 23px;
    text-shadow: 2px 2px 2px rgba($night, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include white-scrollbar();
    overflow-x: hidden;
}

h1 {
    font-size: 1.8em;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

.gray {
    color: $dark-gray;
}

.dotted {
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
        display: inline-block;
        margin-right: 0.5em;
        content: "";
        height: 0.5em;
        width: 0.5em;
        border-radius: 50%;
        background: $red;
    }
}

.footer {
    width: 100%;
    padding: 40px;
    margin-bottom: 35px;
    @include glass-style(20px);

    .social-links {
        @include flex-centered(row);

        .social-link {
            height: 35px;
            margin-right: 75px;
            cursor: pointer;
            @include scale-onhover();

            &:nth-last-child(1) {
                margin-right: 0;
            }

            .icon {
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.header {
    --header-height: 45px;
    height: var(--header-height);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    @include flex-centered();

    .rst-logo__wrapper {
        height: 100%;

        &:hover .rst-logo {
            transform: translateY(-100%);
        }

        .rst-logo {
            height: 100%;
            transition: 300ms ease;
            box-shadow: 0 3px 10px rgba($night, 0.2);
        }
    }
}

.navbar {
    padding: 30px;
    @include flex-centered();

    .navbar-buttons {
        display: grid;
        grid-auto-flow: column;
        column-gap: 30px;

        .navbar-button {
            cursor: pointer;
            @include scale-onhover(300ms, 0.9);

            img, svg {
                height: 35px;
                width: 35px;
            }
        }
    }
}

button, .button {
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 70px;
    height: 70px;

    @include scale-onhover();
    @include bg-onclick();

    .icon {
        width: 100%;
        height: 100%;
        fill: rgba(white, 0.9);
    }

    &.fill {
        background: rgba($night, 0.5);
        box-shadow: 0 0 10px rgba($night, 0.4);
    }

    &.circle {
        border-radius: 50%;
    }

    &.transparent {
        &:active {
            background: transparent;
        }
    }

    &.bg-blur {
        backdrop-filter: blur(10px);
    }
}

.scroll-buttons {
    @include flex-centered(column);
    z-index: 10;

    .scroll-button {
        display: block;
        height: 45px;
        width: 45px;
        margin-bottom: 20px;
        backdrop-filter: blur(10px);

        &.active .scroll-position {
            opacity: 1;
        }

        .scroll-position {
            @include flex-centered();
            @include scale-onhover(300ms, 0.9);
            @include scale-onclick(300ms, 1);

            opacity: 0.5;
            height: 100%;
            width: 100%;
            background: rgba($night, 0.6);
            border-radius: 10px;
            cursor: pointer;
            backdrop-filter: blur(5px);
            box-shadow: inset 0 0 5px rgba($night, 0.2);
        }
    }
}

.work-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 100px;

    .work-card {
        .container {
            height: 410px;
            width: 590px;
            display: flex;
            flex-direction: column;

            cursor: pointer;
            @include scale-onhover(400ms, 0.95);
            @include scale-onclick(400ms, 0.98);

            .card-header {
                margin-bottom: 15px;
                @include flex-centered(row);

                .name__wrapper {
                    width: 100%;
                    @include flex-centered();

                    .name {
                        font-weight: 700;
                        max-width: 90%;
                        @include text-ellipsis(false);
                    }
                }

                .type-tag {
                    font-size: 1.1em;
                }
            }

            .card-title-picture__wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(black, 0.3);

                .title-picture {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    z-index: 1;
                }

                .platform-label {
                    position: absolute;
                    z-index: 2;
                    top: 30px;
                    right: -50px;
                    transform: rotate(45deg);
                    width: 210px;
                    height: 50px;
                    background: rgba($night, 0.6);
                    backdrop-filter: blur(5px);
                    box-shadow: 0 0 10px rgba($night, 0.5);
                    
                    .text {
                        font-weight: 600;
                        font-size: 0.9em;
                        max-width: 65%;
                        @include text-ellipsis();
                    }

                    @include flex-centered();
                }
            }
        }

        .card-tech-tags {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
}

.timeline {
    position: relative;
    --image-height: 275px;
    --image-width: 400px;
    --line-width: 8px;
    --rhomb-size: 60px;
    --item-margin: 100px;

    .timeline-items {
        padding: var(--item-margin);
        margin-left: 200px;

        .timeline-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: var(--item-margin);
    
            &:nth-last-child(1) {
                margin-bottom: 0;
            }

            &:hover .info .year-block .dot {
                box-shadow: 0 0 10px rgba(white, 0.9);
            }
    
            .image__wrapper {
                height: var(--image-height);
                width: var(--image-width);
                flex: 0 0 auto;
                overflow: hidden;

                .image {
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                    border-radius: 10px;   
                    box-shadow: 0 0 20px rgba(black, 0.3);
                }
            }
    
            .info {
                margin-left: 50px;
    
                .year-block {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: left;
                    margin-bottom: 30px;
    
                    .dot {
                        margin: 0 30px;
                        transition: 400ms;
                    }
                }
    
                .text-block {
                    .paragraph {
                        margin-bottom: 20px;

                        &:nth-last-child(1) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .main-line {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: var(--line-width);
        left: 150px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 7%, #FFFFFF 93%, rgba(255, 255, 255, 0) 100%);
        padding: var(--item-margin) 0;

        .row {
            position: relative;
            height: var(--image-height);
            width: var(--rhomb-size);
            margin-bottom: var(--item-margin);
            @include flex-centered();

            &:nth-last-child(1) {
                margin-bottom: 0;
            }

            .rhomb {
                height: var(--rhomb-size);
                width: var(--rhomb-size);
                transform: rotate(45deg);
                background: white;
                box-shadow: 0 0 20px rgba(white, 0.9);
                border-radius: 5px;
                margin-left: calc(var(--line-width) - var(--rhomb-size));
            }

            .sub-line {
                position: absolute;
                left: calc(var(--rhomb-size) / 2);
                height: var(--line-width);
                width: 120px;
                background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
}

#root {
    display: flex;
    justify-content: center;
}

.page-switch {
    .page {
        --page-width: 1450px;
        width: var(--page-width);
        position: relative;

        .section {
            width: 100%;
            padding: 35px 0;

            &.caption {
                @include full-height(800px);

                .content-block {
                    position: relative;
                    padding: 0 50px;
                    @include flex-space-between(column);

                    .caption-body {
                        padding-top: calc(200px + 10vh);
                        @include flex-centered(column);

                        .icon {
                            width: 70px;
                            height: 70px;
                            margin-bottom: 30px;
                        }
            
                        .title {
                            margin-bottom: 30px;
                            text-align: center;
                        }

                        .text {
                            text-align: center;
                        }
                    }

                    .caption-footer {
                        width: 100%;
                        margin-bottom: 20px;
                        @include flex-centered();
    
                        .scroll-button {
                            animation: levitation 3s ease infinite;
                            height: 80px;
                            width: 80px;
                            @include flex-centered();
    
                            .icon {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .content-block {
                width: 100%;
                height: 100%;
                @include glass-style(20px);
        
                & > .title {
                    text-align: center;
                    padding-bottom: 80px;
                }
        
                &:nth-last-child(1) {
                    margin-bottom: 0;
                }
            }
        }

        .back-to-home-button__wrapper {
            position: fixed;
            top: 0;
            left: 20px;
            height: 100vh;
            z-index: 10;
            @include flex-centered();
        }

        .scroll-buttons {
            position: fixed;
            top: 0;
            right: 50px;
            height: 100vh;
        }

        &.home {
            .caption {
                .content-block {
                    @include flex-space-between(column);

                    .caption-body {
                        padding-top: calc(100px + 10vh);
                        @include flex-centered(column);
            
                        .text {
                            text-align: center;
                            margin-bottom: 50px;
                        }
        
                        .face-icon {
                            height: 200px;
        
                            @include scale-onhover();
                        }
                    }
                }
            }
        
            .greeting {
                @include full-height(800px);
        
                .content-block {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 70px;
                    @include flex-centered(row);
        
                    .info {
                        width: 550px;
                        text-align: center;
                        @include flex-centered(column);
        
                        .dot {
                            margin: 20px 0;
                        }
        
                        .text {
                            display: grid;
                            grid-template-columns: 1fr;
                            row-gap: 10px;
                        }
                    }
        
                    .illustration {
                        position: relative;
                        margin-right: 100px;
        
                        .person {
                            width: 450px;
                        }
        
                        .gear {
                            animation: rotation 10s linear infinite;
                            position: absolute;
                            width: 75px;
                            right: 150px;
                            top: -60px;
                        }
        
                        .terminal {
                            position: absolute;
                            width: 110px;
                            animation: levitation 5s linear infinite;
                        }
                    }
                }
            }
        
            .skills {
                .content-block {
                    padding: 120px 0;
                    @include flex-centered(column);
        
                    .skill-blocks {
                        display: grid;
                        grid-template-columns: 1fr;
                        row-gap: 80px;
        
                        .skill-block {
                            width: 1000px;
                            --part-width: 380px;
                            --part-gap: 80px;
        
                            .skill-block__header {
                                margin-bottom: 50px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
        
                                .skill-caption {
                                    font-size: 1.1em;
                                    width: var(--part-width);
                                    margin-right: var(--part-gap);
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-items: center;
        
                                    .skill-caption-icon {
                                        height: 55px;
                                        width: 55px;
                                        margin-right: 30px;
                                        fill: $violet;
                                    }
        
                                    .skill-caption-text {
                                        font-weight: 700;
                                    }
                                }
                            }
        
                            .skill-block__body {
                                display: flex;
                                flex-direction: row;
        
                                & > .skill-category:nth-child(1) {
                                    margin-right: var(--part-gap);
                                }
        
                                .skill-category {
                                    width: var(--part-width);
        
                                    .title {
                                        color: $violet;
                                        font-weight: 500;
                                    }
        
                                    .skill-items {
                                        font-size: 0.9em;
                                        margin-top: 35px;
                                        display: grid;
                                        grid-template-columns: 1fr;
                                        row-gap: 20px;
        
                                        .skill-item {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: flex-start;
                                            align-items: center;
        
                                            .skill-item__icon {
                                                --size: 35px;
                                                min-width: var(--size);
                                                min-height: var(--size);
                                                height: var(--size);
                                                width: var(--size);
                                                margin-right: 20px;
                                                object-fit: contain;
                                                //image-rendering: -webkit-optimize-contrast;
                                            }
    
                                            .skill-item__name-progress {
                                                height: 100%;
                                                width: 100%;
                                                position: relative;
                                                display: flex;
                                                justify-content: flex-start;
                                                align-items: center;
    
                                                .name {
                                                    max-width: var(--part-width);
                                                    @include text-ellipsis();
                                                }
    
                                                .progress {
                                                    height: 100%;
                                                }
    
                                                .name, .progress {
                                                    position: absolute;
                                                    transform-origin: left;
                                                    animation: scale-in 400ms $back-ease;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            .conclusion {
                .content-block {
                    padding: 120px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .container-links {
                        display: grid;
                        row-gap: 70px;
                        column-gap: 70px;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: 
                        "wrk abt"
                        "git git";
        
                        .link {
                            &.my-works-link {
                                grid-area: wrk;
                            }
            
                            &.about-me-link {
                                grid-area: abt;
                            }
            
                            &.github-link {
                                grid-area: git;
                            }
                        }
        
                        .container {
                            padding: 50px 80px;
                            cursor: pointer;
                            text-align: center;
        
                            @include scale-onhover(300ms, 0.95);
        
                            .icon {
                                height: 60px;
                                width: 60px;
                            }
        
                            .text {
                                white-space: nowrap;
                            }
            
                            &.vertical {
                                display: block;
        
                                .main-block {
                                    .icon {
                                        margin-bottom: 30px;
                                    }
        
                                    margin-bottom: 20px;
                                }
                            }
            
                            &.horizontal {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
        
                                .main-block {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
        
                                    .icon {
                                        margin-right: 70px;
                                    }
                                }
        
                                .text-block {
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.works {    
            .works-grid {
                .content-block {
                    padding: 100px;
                    @include flex-centered();
                }
            }
        }
    }
}

@media screen and (min-height: 1000px) {
    .page-switch .page {
        &.home {
            .caption {
                .content-block {
                    .caption-body {
                        padding-top: calc(100px + 17vh);
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 850px) {
    .page-switch .page {
        .section.caption .content-block .caption-body {
            padding-top: calc(150px + 10vh);
        }

        &.home {
            .caption .content-block {
                .caption-body {
                    padding-top: calc(100px + 5vh);
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .page-switch .page {
        --page-width: 1300px;

        &.home {
            .greeting .content-block {
                .illustration {
                    .person {
                        width: 400px;
                    }

                    .gear {
                        right: 100px;
                        width: 70px;
                    }

                    .terminal {
                        width: 100px;
                    }
                }
            }
        }
    }

    .work-cards .work-card .container {
        width: 530px;
        height: 370px;
    }

    .timeline {
        --image-height: 250px;
        --image-width: 380px;
    }
}

@media screen and (max-width: 1560px) {
    body {
        font-size: 20px;
    }

    .page-switch .page {
        --page-width: 1200px;

        &.home {
            .greeting .content-block {
                column-gap: 40px;

                .info {
                    width: 500px;
                    text-align: left;
                    align-items: flex-start;
                }

                .illustration {
                    margin-right: 0;

                    .gear {
                        display: none;
                    }

                    .terminal {
                        right: 0;
                        top: -50px;
                    }

                    .person {
                        width: 400px;
                    }
                }
            }

            .skills .content-block {
                .skill-blocks .skill-block {
                    width: 900px;
                    --part-width: 330px;
                }
            }

            .conclusion .content-block .container-links .container {
                padding: 50px 65px;
            }
        }
    }

    .work-cards {
        row-gap: 80px;

        .work-card .container {
            width: 480px;
            height: 330px;

            .card-title-picture__wrapper {
                .platform-label {
                    top: 20px;
                    right: -60px;
                }
            }
        }
    }

    .timeline {
        --image-height: 230px;
        --image-width: 350px;
    }
}

@media screen and (max-width: 1475px) {
    .page-switch .page {
        --page-width: 80vw;

        &.home {
            .greeting .content-block {
                column-gap: 50px;

                .info {
                    width: 400px;
                }
            }

            .skills .content-block {
                .skill-blocks .skill-block {
                    width: 840px;
                    --part-width: 300px;
                    
                    .skill-block__body .skill-category .skill-items {
                        row-gap: 17px;

                        .skill-item {
                            .skill-item__icon {
                                --size: 30px;
                            }

                            .skill-item__name-progress .progress .bar {
                                height: 10px;
                            }
                        }
                    }
                }
            }
        }

        .scroll-buttons {
            right: 40px;
        }
    }

    .work-cards {
        .work-card .container {
            width: 32vw;
            height: 23vw;
        }
    }

    .timeline {
        --image-height: 15vw;
        --image-width: 23vw;
        --rhomb-size: 56px;
        font-size: 0.9em;

        .main-line {
            left: 120px;
        }

        .timeline-items {
            margin-left: 160px;

            .timeline-item .info {
                .year-block {
                    margin-bottom: 20px;
                }

                .text-block .paragraph {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .page-switch .page {
        &.home {
            .greeting .content-block {
                column-gap: 80px;

                .info {
                    width: 350px;
                }

                .illustration {
                    .terminal {
                        width: 80px;
                    }

                    .person {
                        width: 350px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .page-switch .page {
        .section .content-block > .title {
            padding-bottom: 60px;
        }
        
        &.home {
            .skills .content-block {
                .skill-blocks .skill-block {
                    width: 700px;
                    --part-width: 250px;
                    --part-gap: 70px;
                    padding: 60px;
                }
            }

            .conclusion .content-block .container-links {
                row-gap: 50px;
                column-gap: 50px;

                .container {
                    padding: 50px;

                    .icon {
                        height: 50px;
                        width: 50px;
                    }

                    &.horizontal .main-block .icon {
                        margin-right: 60px;
                    }
                }
            }
        }

        .scroll-buttons {
            right: 30px;
        }
    }

    .work-cards {
        .work-card {
            .container {
                .card-header .name__wrapper {
                    font-size: 0.9em;
                }
    
                .card-title-picture__wrapper .platform-label {
                    height: 40px;
                    font-size: 0.9em;
                    top: 15px;
                    right: -65px;
                }
            }

            .card-tech-tags .tech-tag {
                margin: 5px;
            }
        }
    }

    .timeline {
        --rhomb-size: 54px;
        --item-margin: 80px;

        .main-line {
            left: 110px;

            .row .sub-line {
                width: 100px;
            }
        }

        .timeline-items {
            margin-left: 140px;
        }
    }

    .footer .social-links .social-link {
        height: 30px;
    }
}

@media screen and (max-width: 1150px) {
    .timeline {
        --image-height: 30vw;
        --image-width: 100%;
        --dot-size: 50px;
        --left-margin: 110px;

        .main-line {
            left: var(--left-margin);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 2%, #FFFFFF 93%, rgba(255, 255, 255, 0) 100%);

            .rhomb, .sub-line {
                display: none;
            }
        }

        .timeline-items {
            .timeline-item {
                flex-direction: column-reverse;
                align-items: flex-start;
                justify-content: flex-start;
                width: 90%;

                $dot-box-shadow: 0 0 20px rgba(#FFF, 0.9);

                .info {
                    margin-left: 0;
                    margin-bottom: 25px;

                    .year-block {
                        margin-bottom: 20px;

                        .dot {
                            margin: 0;
                            box-shadow: $dot-box-shadow;
                            position: absolute;
                            left: calc(var(--left-margin) - calc((var(--dot-size) / 2) - (var(--line-width) / 2)));
                            width: var(--dot-size);
                            height: var(--dot-size);
                            transform: rotate(45deg);
                        }
                    }
                }

                &:hover .info .year-block .dot {
                    box-shadow: $dot-box-shadow;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .page-switch .page {
        &.home {
            .greeting {
                min-height: auto;
                height: auto;

                .content-block {
                    padding: 100px 130px;
                    flex-direction: column;
                    row-gap: 60px;
    
                    .info {
                        width: auto;
                        align-items: center;
                        text-align: center;
                    }

                    .illustration {
                        .person {
                            width: 35vw;
                        }

                        .terminal {
                            display: none;
                        }
                    }
                }
            }
        } 

        .back-to-home-button__wrapper {
            left: 10px;

            .back-to-home-button {
                height: 45px;
                width: 45px;
                padding: 0;
            }
        }

        .scroll-buttons {
            right: 25px;
        }
    }

    .work-cards {
        grid-template-columns: 1fr;
        column-gap: 0;

        .work-card {
            .container {
                width: 100%;
                height: 40vw;

                .card-header .name__wrapper {
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .page-switch .page {
        &.home {
            .skills .content-block .skill-blocks {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                .skill-block {
                    width: 65vw;
                    
                    .skill-block__header {
                        @include flex-space-between(row);

                        .skill-caption {
                            margin: 0;
                            width: auto;
                        }
                    }

                    .skill-block__body {
                        flex-direction: column;
                        row-gap: 50px;

                        .skill-category {
                            width: 100%;
                            margin: 0 !important;

                            .skill-items .skill-item .skill-item__name-progress .name {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }

            .conclusion .content-block .container-links {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                column-gap: 0;
                row-gap: 40px;

                .link {
                    width: 50vw;

                    .container {
                        padding: 50px 10px;
                    }
                }
            }
        }

        .scroll-buttons {
            right: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .timeline {
        --image-height: 27vw;
    }
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }

    body {
        font-size: 19px;
    }

    .navbar {
        padding: 20px;
    }

    .page-switch .page {
        &.home {
            .caption .content-block {
                .caption-body .face-icon {
                    height: 170px;
                }
            }

            .greeting .content-block {
                padding: 100px 75px;

                .illustration .person {
                    width: 40vw;
                }
            }

            .skills .content-block {
                .skill-blocks .skill-block {
                    font-size: 1em;

                    .skill-block__header {
                        .progress .switch .switch-title {
                            display: none;
                        }
                    }
                }
            }
        }

        &.works {
            .works-grid .content-block {
                padding: 70px;
            }
        }

        .scroll-buttons {
            right: 15px;
        }
    }

    .work-cards .work-card .container {
        height: 45vw;
    }

    .timeline {
        --item-margin: 60px;

        .timeline-items {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }
}

@media screen and (max-width: 700px) {
    .page-switch .page {
        --page-width: 90vw;

        .section .content-block > .title {
            padding-bottom: 40px;
        }

        .scroll-buttons, .back-to-home-button__wrapper {
            display: none;
        }

        &.home {
            .skills .content-block {
                padding: 100px 0;

                .skill-blocks .skill-block {
                    width: 75vw;
                }
            }

            .conclusion .content-block {
                padding: 100px 0;

                .container-links .link {
                    width: 70vw;
                }
            }
        }
    }

    .work-cards .work-card .container {
        height: 50vw;
    }

    .timeline {
        --image-height: 34vw;
        --left-margin: 90px;

        .timeline-items {
            padding: 70px 70px 70px 40px;

            .timeline-item {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .timeline {
        --line-width: 6px;
        --dot-size: 40px;
        --left-margin: 70px;
        --image-height: 36vw;

        .timeline-items {
            padding: 70px 50px 70px 70px;
            margin-left: var(--left-margin);

            .timeline-item .image__wrapper {
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .page-switch .page {
        --block-padding: 80px;
        --element-width: 78vw;

        &.home {
            .greeting .content-block {
                padding: var(--block-padding) 50px;

                .illustration .person {
                    width: 50vw;
                }
            }

            .skills .content-block {
                padding: var(--block-padding) 0;

                .skill-blocks .skill-block {
                    padding: 50px;
                    width: var(--element-width);
    
                    .skill-block__header .skill-caption .skill-caption-icon {
                        display: none;
                    }
                }
            }

            .conclusion .content-block {
                padding: var(--block-padding) 0;

                .container-links .link {
                    width: var(--element-width);
                }
            }
        }

        &.works {
            .works-grid .content-block {
                padding: 60px 0;
            }
        }
    }

    .work-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 60px;

        .work-card {
            width: var(--element-width);

            .container {
                width: 100%;
                height: 55vw;
            }
        }
    }

    .footer {
        padding: 30px;

        .social-links .social-link {
            margin-right: 60px;
            height: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    .timeline {
        --left-margin: 50px;
        --dot-size: 30px;
        --line-width: 4px;
        --image-height: 38vw;

        .timeline-items {
            padding: var(--block-padding) 
                     40px 
                     var(--block-padding) 
                     50px;
        }
    }
}

@media screen and (max-width: 420px) {
    .page-switch {
        @include glass-style(0);

        .page {
            --page-width: 100vw;
            --element-width: 85vw;

            display: flex;
            flex-direction: column;
            row-gap: 150px;

            .section {
                padding: 20px 0;

                &.caption {
                    padding: 0;
                    @include full-height(600px);

                    .content-block {
                        padding: 0 30px;

                        .caption-footer {
                            margin: 5px;
                        }
                    }
                }

                .content-block {
                    background: transparent;
                    box-shadow: unset;
                    border-radius: 0;
                    backdrop-filter: unset;
                }
            }

            &.home {
                .greeting {
                    .content-block {
                        padding: 0 40px;
    
                        .illustration {
                            .person {
                                width: 60vw;
                            }
                        }
                    }
                }

                .skills, .conclusion {
                    .content-block {
                        padding: 0;
                    }
                }
            }

            &.works {
                .works-grid .content-block {
                    padding: 0;
                }
            }
        }
    }

    .footer {
        background: transparent;
        box-shadow: unset;
        border-radius: 0;
        backdrop-filter: unset;
        margin-bottom: 0;
        margin-top: 70px;
    }

    .work-cards {
        row-gap: 80px;

        .work-card .container {
            height: 65vw;
            padding: 10px;
        }
    }

    .timeline {
        --image-height: 42vw;
        --item-margin: 80px;
    }
}

@media screen and (max-width: 370px) {
    .page-switch .page {
        &.home {
            .skills .content-block .skill-blocks .skill-block {
                padding: 40px;

                .skill-block__header {
                    align-items: flex-start;
                    flex-direction: column;
                    row-gap: 30px;

                    .skill-caption {
                        align-items: flex-start;
                        flex-direction: column;
                        row-gap: 20px;
                    }
                }
            }

            .greeting {
                .content-block {
                    padding: 0 40px;

                    .illustration {
                        .person {
                            width: 65vw;
                        }
                    }
                }
            }
        }
    }

    .timeline .timeline-items .timeline-item .image__wrapper {
        padding: 8px;
    }
}

@media screen and (max-width: 330px) {
    body {
        font-size: 16px;
    }

    .header {
        --header-height: 40px;
    }

    .page-switch .page {
        .section.caption {
            @include full-height(550px);

            .content-block {
                .caption-body {
                    padding-top: 150px;
    
                    .icon {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 20px;
                    }
    
                    .title {
                        margin-bottom: 20px;
                    }
                }

                .caption-footer {
                    .scroll-button {
                        height: 70px;
                        width: 70px;
                    }
                }
            }
        }

        &.home {
            .caption .content-block .caption-body {
                padding-top: 100px;
    
                .text {
                    margin-bottom: 30px;
                }
        
                .face-icon {
                    height: 130px;
                }
            }

            .skills .content-block .skill-blocks .skill-block {
                padding: 30px;

                .skill-block__body .skill-category .skill-items .skill-item .skill-item__icon {
                    --size: 25px;
                }
            }
        }

        &.works {
            .works-grid .content-block {
                .work-cards .work-card {
                    font-size: 1.1em;

                    .container .card-title-picture__wrapper .platform-label {
                        height: 35px;
                    }
                }
            }
            
        }
    }

    .navbar .navbar-buttons {
        column-gap: 25px;

        .navbar-button {
            img, svg {
                height: 30px;
                width: 30px;
            }
        }
    }

    .footer .social-links .social-link {
        height: 20px;
        margin-right: 40px;
    }

    .timeline {
        --image-height: 40vw;
    }
}